.feedback-container {
  background-color: white;
  border: 1px solid rgb(41, 77, 119);
  border-radius: 20px;
  color: rgb(41, 77, 119);
  font-size: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
  width: 470px;
}

.feedback-scoreboard {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.message {
  color: rgb(41, 77, 119);
  font-size: 20px;
  font-weight: 600;
  margin: 1px;
}

.gif {
  border: 5px solid rgb(252, 168, 47);
  border-radius: 10px;
  height: 300px;
  margin: 20px;
}
