@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.header {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(41,77,119);
  color: rgb(41,77,119);
  display: flex;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px 30px 7px 30px;
  width: 470px;
}

.header-profile-picture {
  border-radius: 50%;
  border: 1px solid rgb(41,77,119);
}